body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,input,textarea{margin: 0;padding: 0;}
a{text-decoration: none; color: inherit;}
li{list-style: none;}
img{vertical-align: middle; border:0;}
input,textarea{outline: none;background-color: none;}
input,textarea,select{color: inherit;font-size: inherit;font-family: inherit;}
textarea{resize: none;}
input[type=“button”],input[type=“submit”],input[type=“reset”]{cursor:pointer}
.middle{width: 1000px; margin-left: auto; margin-right: auto;}
.dotted3{white-space:nowrap;overflow: hidden;text-overflow: ellipsis;}
html{font-size: 12px;font-family: “微软雅黑”,“宋体”,Arial; color: #666;}
.clear:after{content:"";display: block;height: 0;overflow: hidden;visibility: hidden;clear: both;}
.clear{zoom: 1;}

body{
    background-color: #de335e;
    padding: 40px 0;
}

.app {
    display: flex;
    flex-flow: column;
    color: #f1f1f1;
}
.header, .content {
    width: 50%;
    margin-left: auto; 
    margin-right: auto;
}

.h1 {
    border-bottom: 1px solid hsla(0,0%,100%,.4);
    padding-bottom: .3em;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
    font-size: 2em;
}

.p {
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 16px;
    line-height: 1.5;
}

.h2 {
    border-bottom: 1px solid hsla(0,0%,100%,.4);
    padding-bottom: .3em;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}